.about {
  @include container;

  box-sizing: border-box;
  width: 100%;
  padding: 30px 30px 0;
  margin-bottom: 58px;

  font-family: $font-stack;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}

.about__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 25px;
  line-height: 30px;
  text-align: left;
}

.about__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.about__item {
  width: 260px;
  position: relative;
  padding-top: 82px;
  text-align: left;
}

.about__icon {
  position: absolute;

  fill: #63d1bb;

  &--1 {
    top: 28px;
    left: 8px;
  }

  &--2 {
    top: 31px;
    left: 0;
  }

  &--3 {
    top: 36px;
    left: 8px;
  }

  &--4 {
    top: 33px;
    left: 4px;
  }

  &--5 {
    top: 34px;
    left: -7px;
  }

  &--6 {
    top: 32px;
    left: 2px;
  }
}

@media #{$tablet} {
  .about {
    padding-top: 50px;
    margin-bottom: 55px;
  }

  .about__title {
    margin-bottom: 18px;
    margin-left: -5px;

    font-size: 43px;
    line-height: 50px;
  }

  .about__list {
    display: flex;
    flex-flow: row wrap;
  }

  .about__item {
    width: 334px;
    margin-bottom: 28px;
    padding-top: 83px;

    font-size: 20px;
    line-height: 22px;
  }

  .about__item {

    &--1 {
      order: 0;
    }

    &--2 {
      order: 2;
    }

    &--3 {
      order: 4
    }

    &--4 {
      order: 1;
    }

    &--5 {
      order: 3;
    }

    &--6 {
      order: 6;
    }
  }
}

@media #{$desktop} {
  .about {
    padding-top: 60px;
    margin-bottom: 61px;
  }

   .about__title {
    margin-left: 0;
    padding-left: 168px;

    font-size: 53px;
    line-height: 57px;
  }

  .about__list {
    padding-left: 175px;
  }

  .about__item {
    width: 350px;
    padding-top: 84px;
  }
}
