.catalog {
  @include container;
  padding: 30px 30px 0;
  display: flex;
  flex-flow: column nowrap;

  font-family: $font-stack;
}

@media #{$tablet} {
  .catalog {
    padding-top: 79px;
  }
}

@media #{$desktop} {
  .catalog {
    display: flex;
    flex-flow: row wrap;
    padding-top: 131px;
  }
}
