.divider {
  position: relative;

  width: 100%;
  min-height: 7px;
  margin: auto;

  border: none;
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: 100% 7px;

  @media #{$tablet} {
    min-height: 17px;

    background-size: 100% 17px;
  }

  @media #{$desktop} {
    min-height: 23px;

    background-size: 1150px 23px;
    background-repeat: repeat;
  }
}

