.feedback {
  @include container;

  box-sizing: border-box;
  width: 100%;
  padding: 0 30px;

  font-family: $font-stack;
}

.feedback__title {
  margin: 0;
  margin-bottom: 24px;

  color: $font-color-dark;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
}

.feedback__content {
  margin: 0;
  margin-bottom: 28px;

  color: $font-color-light;
  font-weight: normal;
  line-height: 30px;
  font-size: 15px;
}

.feedback__author {
  margin-bottom: 29px;
}

.feedback__author-name {
  color: $font-color-dark;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
}

.feedback__author-nic {
  color: $font-color-light;
  font-size: 17px;
  font-weight: normal;
  line-height: 30px;
  text-align: left;
}

.feedback__controls {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 38px;

  border: 1px solid #ececec;
}

.feedback__control {
  position: relative;
  width: 50%;
  height: 52px;

  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;

  font-size: 0;

  &:first-child {
    border-right: 1px solid #ececec;
  }
}

.feedback__icon {
  position: absolute;
  width: 51px;
  height: 26px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feedback__btn {
  @include btn;

  height: 52px;
  margin-bottom: 44px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  text-transform: uppercase;
}

@media #{$tablet} {
  .feedback {
    padding-top: 79px;
    margin-bottom: 68px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;

    background-image: url(../img/review@1x.jpg);
    background-size: 350px 100%;
    background-repeat: no-repeat;
    background-position: top left;

    @media #{$retina} {
      background-image: url(../img/review@2x.jpg)
    }
  }

  .feedback__title {
    width: 50%;
    order: -2;
    margin-bottom: 49px;
    margin-left: -5px;

    font-size: 43px;
    line-height: 50px;
    text-align: left;
  }

  .feedback__content {
    width: 100%;
    margin-bottom: 59px;

    font-size: 17px;
    line-height: 30px;
  }

  .feedback__author {
    width: 334px;
    margin-bottom: 47px;
  }

  .feedback__author-name {
    font-size: 17px;
  }

  .feedback__controls {
    width: 167px;
    margin-left: auto;
    border: none;
  }

  .feedback__control:first-child {
    border: none;
  }

  .feedback__btn {
    width: 175px;
    margin-left: auto;
    order: -1;
  }
}

@media #{$desktop} {
  .feedback {
    background-position: top left 50px;
  }

  .feedback__title {
    margin-top: -10px;
    padding-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }

  .feedback__content {
    margin-bottom: 41px;
    padding-left: 175px;
    padding-right: 100px;
  }


  .feedback__controls {
    width: 175px;
  }

  .feedback__author {
    padding-left: 175px;
    width: 350px;
    margin-bottom: 96px;
  }
}

