.form {
  padding-top: 23px;
  padding-bottom: 55px;

  font-family: $font-stack;
}

.form__intro {
  @include container;

  margin-bottom: 23px;
  padding: 0 30px;

  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: $font-color-light;
}

.form__wrapper {
  width: 100%;
}

.form__fieldset {
  @include container;

  margin-bottom: 42px;
  padding: 0 30px;

  &--textarea {
    margin-bottom: 12px;
  }

  &--name {
    margin-bottom: 31px;
  }

  &--tel {
    margin-bottom: 31px;
  }

  &--email {
    margin-bottom: 34px;
  }
}

.form__legend {
  position: relative;

  margin: 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 62px;

    width: calc(100% - 62px);
    height: 1px;

    background-color: currentColor;
  }

  &--shorter::after {
    left: 81px;

    width: calc(100% - 81px);
  }
}

.form__field {
  position: relative;

  margin-top: 26px;

  &--tel {
    margin-top: 7px;
  }

  &--email {
    margin-top: 7px;
  }
}

.form__input {
  display: flex;
  flex-flow: row nowrap;

  &--radio {
    margin-bottom: 13px;
  }

  &--checkbox {
    margin-bottom: 32px;
  }

  &--name {
    flex-direction: column;
    margin-bottom: 23px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.form__label {
  position: relative;

  width: 200px;
  padding-top: 11px;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $font-color-dark;

  cursor: pointer;

  &--radio {
    padding-left: 62px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 35px;
      height: 35px;

      border: 2px solid $font-color-light;
      border-radius: 50%;

      transition: border-color 300ms ease;
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      left: 12px;

      width: 16px;
      height: 16px;

      background-color: transparent;
      border-radius: 50%;

      transition: background-color 300ms ease;
    }

    &:hover::before {
      border-color: #62d1ba;
    }

    &:active::before {
      border-color: rgba($font-color-light, 0.3);
    }
  }

  &--checkbox {
    padding-left: 62px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 36px;
      height: 36px;

      border: 2px solid $font-color-light;

      transition: border-color 300ms ease;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      left: 16px;

      width: 7px;
      height: 16px;

      border: transparent;
      border-right: 3px solid transparent;
      border-bottom: 3px solid transparent;
      transform: rotate(45deg);

      transition: border-right-color 300ms ease, border-bottom-color 300ms ease;
    }

    &:hover::before {
      border-color: #62d1ba;
    }

    &:active::before {
      border-color: rgba($font-color-light, 0.3);
    }
  }

  &--text {
    width: auto;
    margin-right: 42px;
    margin-bottom: 0;
    padding: 0;
  }
}

.form__radio:checked + .form__label--radio::after {
  background-color: #62d1ba;;
}

.form__checkbox:checked + .form__label--checkbox::after {
  border-right-color: #101010;
  border-bottom-color: #101010;
}

.form__text,
.form__tel,
.form__email {
  box-sizing: border-box;
  width: 100%;
  height: 52px;
  padding-right: 35px;

  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: $font-color-light;

  background-color: transparent;
  border: 0;
  border-bottom: 2px solid $font-color-dark;
  outline: 0;

  transition: border-color 300ms ease;

  &::placeholder {
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    color: rgba($font-color-light, 0.3);
  }
}

.form__text:hover,
.form__text:focus,
.form__tel:hover,
.form__tel:focus,
.form__email:hover,
.form__email:focus {
  border-color: #62d1ba;
}

.form__icon {
  position: absolute;
  top: 50%;
  right: 6px;

  transform: translateY(-50%);

  transition: fill 300ms ease;

  fill: rgba(#000000, 0.2);

  &--phone {
    width: 25px;
    height: 24px;
  }

  &--email {
    width: 32px;
    height: 32px;
  }
}

.form__tel:hover + .form__icon,
.form__email:hover + .form__icon,
.form__tel:focus + .form__icon,
.form__email:focus + .form__icon {
  fill: #62d1ba;
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-height: 142px;
  margin-top: 23px;
  padding: 16px;

  font-weight: normal;
  font-size: 19px;
  line-height: 18px;
  color: $font-color-light;

  border: 2px solid $font-color-light;
  outline: none;

  transition: border-color 300ms ease;

  &::placeholder {
    font-weight: normal;
    font-size: 19px;
    line-height: 18px;
    color: rgba($font-color-light, 0.3);
  }

  &:hover {
    border-color: #62d1ba;
  }

  &:focus {
    border-color: #62d1ba;
  }
}

.form__footer {
  @include container;

  padding: 0 30px;
}

.form__info {
  display: block;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $font-color-light;
}

.form__submit {
  @include btn;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 52px;

  text-transform: uppercase;
}

@media #{$tablet} {
  .form {
    padding-top: 71px;
    padding-bottom: 50px;
  }

  .form__intro {
    margin-bottom: 4px;
    padding-right: 105px;

    font-size: 17px;
    line-height: 30px;
  }

  .form__wrapper {
    padding-top: 67px;
    padding-bottom: 68px;

    &--grey {
      background-color: #f1f1f1;
    }

    &--short {
      padding-top: 51px;
      padding-bottom: 50px;
    }

    &:nth-last-child(2) {
      padding-top: 50px;
      padding-bottom: 40px;
    }
  }

  .form__fieldset {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;

    &--tel {
      margin-bottom: 22px;
    }

    &--name,
    &--email {
      margin-bottom: 0;
    }

    &--textarea {
      margin-bottom: 15px;
    }
  }

  .form__legend {
    flex: 0 0 167px;
    width: 167px;

    &::after {
      height: 0;
    }
  }

  .form__field {
    flex: 1 1 auto;
    margin-top: 0;

    &--checkbox {
      display: flex;
      flex-flow: row wrap;
    }
  }

  .form__input {
    &--radio {
      margin-bottom: 57px;
    }

    &--checkbox {
      width: 47%;
      margin-bottom: 58px;

      &:nth-child(5) {
        margin-bottom: 0;
      }

      &:nth-child(odd) {
        margin-right: 5%;
      }
    }

    &--name {
      flex-direction: row;
      align-items: baseline;
      margin-bottom: 24px;
    }
  }

  .form__label {
    width: 100%;
    padding-top: 0;

    font-size: 19px;

    &--radio {
      padding-left: 80px;

      &::before {
        top: -13px;

        width: 48px;
        height: 48px;
      }

      &::after {
        top: 3px;
        left: 16px;

        width: 21px;
        height: 21px;
      }
    }

    &--checkbox {
      padding-left: 80px;

      &::before {
        top: -16px;

        width: 50px;
        height: 48px;
      }

      &::after {
        top: -6px;
        left: 20px;

        width: 11px;
        height: 24px;
      }
    }

    &--text {
      width: auto;
      margin-right: 26px;
      margin-bottom: 0;
    }
  }

  .form__text,
  .form__tel,
  .form__email {
    padding-left: 17px;

    font-size: 19px;

    &::placeholder {
      font-size: 19px;
    }
  }

  .form__textarea {
    margin-top: 0;
    padding: 16px;
  }

  .form__icon {
    right: 26px;
  }

  .form__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .form__info {
    margin-bottom: 0;

    font-size: 17px;
    line-height: 30px;
  }

  .form__submit {
    order: -1;
    width: 230px;
  }
}

@media #{$desktop} {
  .form {
    padding-top: 124px;
  }

  .form__intro {
    padding-right: 250px;
    padding-left: 225px;
  }

  .form__wrapper {
    &--short {
      padding-top: 51px;
    }
  }

  .form__legend {
    flex: 0 0 175px;
    box-sizing: border-box;
    width: 175px;
    padding-left: 62px;
  }

  .form__input {
    &--checkbox {
      width: 244px;
      margin-right: 20px;

      &:nth-child(n+4) {
        margin-bottom: 0;
      }

      &:nth-child(odd) {
        margin-right: 20px;
      }
    }
  }

  .form__fieldset {
    &--textarea {
      margin-bottom: 10px;
    }

    &--textarea,
    &--name,
    &--tel,
    &--email {
      padding-right: 225px;
    }
  }

  .form__icon {
    right: 0;
  }

  .form__footer {
    padding: 0 225px;
  }
}
