.main-footer {
  font-family: $font-stack;

  background-color: $main-bg;
}

.main-footer__inner {
  @include container;

  display: flex;
  flex-flow: column nowrap;
  padding: 0 30px;
}

.main-footer__logo {
  display: none;
}

.main-footer__socials {
  height: 79px;

  border-bottom: 1px solid #e5e5e5;
}

.main-footer__copyright {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 80px;

  text-decoration: none;

  transition: opacity 300ms ease;

  &:active {
    opacity: 0.3;
  }
}

.main-footer__copyright-title {
  margin-right: 30px;

  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: $font-color-dark;
}

.main-footer__copyright-logo {
  width: 27px;
  height: 34px;

  transition: fill 300ms ease;

  fill: #63d1bb;
}

.main-footer__copyright:hover .main-footer__copyright-logo {
  fill: #46c1ae;
}

@media #{$tablet} {
  .main-footer__inner {
    flex-direction: row;
    align-items: center;
    min-height: 143px;
    height: 1px; // для IE11
    padding: 0 50px;
  }

  .main-footer__logo {
    display: block;
    width: 102px;
    height: 34px;
    margin-right: 23.8%;

    transition: fill 300ms ease;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      fill: rgba(#46c1ae, 0.3);
    }
  }

  .main-footer__socials {
    border-bottom: none;
  }

  .main-footer__copyright {
    margin-left: auto;
  }
}

@media #{$desktop} {
  .main-footer__logo {
    margin-right: 33.24%;
  }
}
