.main-nav {
  position: absolute;
  z-index: 9;

  width: 100%;

  background-color: #ffffff;

  transition: transform 800ms ease;
}

.main-nav--nojs {
  position: relative;
  top: 0;
}

.main-nav--nojs ~ .menu-toggle {
  display: none;
}

.main-nav__list {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  height: 79px;

  border-top: 1px solid #ececec;
}

.main-nav__logo {
  display: none;
}

.main-nav__link {
  position: relative;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 23.75%;

  color: $font-color-dark;
  text-decoration: none;

  transition: color 300ms ease;

  &[href]:hover {
    color: rgba($font-color-dark, 0.6);
  }

  &[href]:active {
    color: rgba($font-color-dark, 0.3);
  }
}

.main-nav__icon {
  position: absolute;
  top: 50%;
  left: 10%;

  transform: translateY(-50%);

  transition: fill 300ms ease, fill-opacity 300ms ease;

  fill: #d3d2d2;
}

.main-nav__link:hover .main-nav__icon {
  fill: #63d1bb;
}

.main-nav__link:active .main-nav__icon {
  fill-opacity: 0.3;
}

@media #{$mobile-only} {
  .main-nav--closed {
    top: -320px;
  }

  .main-nav--open {
    transform: translateY(399px);
  }
}

@media #{$tablet} {
  .main-nav {
    position: relative;
    top: 0;

    width: auto;
  }

  .main-nav__list {
    flex-flow: row nowrap;

    &:first-child {
      display: none;
    }
  }

  .main-nav__item {
    min-height: 88px;

    border-top-width: 0;

    &--search {
      width: 83px;
      padding: 0;

      font-size: 0;

      border-left: 1px solid #ececec;
    }

    &--cart {
      border-left: 1px solid #ececec;
    }
  }

  .main-nav__link {
    width: auto;
    padding: 0;

    &--cart {
      padding-left: 82px;
    }
  }

  .main-nav__icon {
    &--search {
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }

    &--cart {
      left: 30px;
    }
  }
}

@media #{$desktop} {
  .main-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
  }

  .main-nav__list {
    &:first-child {
      display: flex;
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }

  .main-nav__item {
    &--catalog {
      padding-right: 35px;
      padding-left: 0;
    }

    &--form {
      padding-left: 35px;

      border-left: 1px solid #ececec;
    }
  }
}
