.menu-toggle {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-48%);

  display: block;
  width: 21px;
  height: 20px;
  margin: 0;
  padding: 0;

  background: none;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 99;
}

.menu-toggle--close {
  background-image: url("../img/icon-menu-close.svg");
}


@media #{$tablet} {
  .menu-toggle {
    display: none;
  }
}
