.offer {
  @include container;

  box-sizing: border-box;
  width: 100%;
  padding: 0 30px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: column nowrap;

  font-family: $font-stack;
  font-weight: normal;
  color: $font-color-light;
}


.offer__header {
  box-sizing: border-box;
  padding-top: 30px;
  margin-bottom: 21px;

  font-weight: bold;
  text-align: left;
}

.offer__title {
  display: block;
  margin-bottom: 5px;

  color: $font-color-dark;
  font-size: 25px;
  line-height: 30px;
}

.offer__subtitle {
  display: block;

  color: #63d1bb;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.offer__about {
  margin: 0;
  margin-bottom: 20px;

  font-size: 15px;
  line-height: 24px;
}

.offer__features {
  width: 100%;

  font-size: 15px;
  line-height: 20px;
  margin-bottom: 28px;
  border-spacing: 0;
  border-collapse: collapse;
}

.offer__row {
  height: 39px;
  border-bottom: 1px solid #ececec;
}

.offer__cell {
  text-align: left;
  vertical-align: middle;

  &:first-child {
    width: 33%;
  }
}

.offer__img {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 19px;
}

.offer__img img {
  display: block;
  width: 100%;
  height: auto;
}

.offer__price {
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  margin-bottom: 27px;
}

.offer__btn {
  @include btn;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  text-transform: uppercase;
}

@media #{$tablet} {
  .offer {
//    max-width: 950px;
    margin-bottom: 52px;
  }

  .offer__header {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 46px;
    margin-bottom: 48px;
  }

  .offer__title {
    font-size: 43px;
    line-height: 50px;

    margin-bottom: 0;
  }

  .offer__subtitle {
    width: 70px;
    padding-right: 28px;

    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }

  .offer__content {
    display: flex;
    flex-flow: column wrap;

    height: 404px; // высота правой колонки/картинки
  }

  .offer__about,
  .offer__features,
  .offer__price,
  .offer__btn {
    width: 43.7%;
    margin-right: 44px;
  }

  .offer__about {
    margin-bottom: 36px;

    font-size: 17px;
    line-height: 30px;
  }

  .offer__price {
    margin-top: auto;
    margin-bottom: 27px;

    font-size: 20px;
  }

  .offer__img {
    width: 333px;
    height: 404px;
    order: 1;
    margin: 0;
    margin-left: auto;
  }
}

@media #{$desktop} {
  .offer {
    margin-bottom: 73px;
  }

  .offer__header {
    padding: 0;
    margin-bottom: 10px;
    padding-left: 47px;
    justify-content: flex-start;

    top: 123px;
  }

  .offer__title {
    font-size: 53px;
    line-height: 57px;
  }

  .offer__subtitle {
    order: -1;
    margin-top: 8px;
    margin-right: 24px;
  }

  .offer__content {
    height: 636px; // высота правой колонки/картинки
  }

  .offer__about,
  .offer__features,
  .offer__price,
  .offer__btn {
    box-sizing: border-box;
    width: 292px;
    margin-right: 58px;
    margin-left: 175px;
  }

  .offer__about {
    margin-top: 162px;
    margin-bottom: 48px;
  }

  .offer__price {
    padding-left: 7px;
    margin-bottom: 29px;
  }

  .offer__btn {
    padding-left: 7px;
  }

  .offer__img {
    width: 525px;
    height: 636px;
  }
}
