.offer {
  @include container;

  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
  padding: 0 30px;

  font-weight: normal;
  font-family: $font-stack;
  color: $font-color-light;
}


.offer__header {
  box-sizing: border-box;
  margin-bottom: 21px;
  padding-top: 28px;

  font-weight: bold;
  text-align: left;
}

.offer__title {
  display: block;
  margin-bottom: 5px;

  font-size: 25px;
  line-height: 30px;
  color: $font-color-dark;
}

.offer__subtitle {
  display: block;

  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.offer__about {
  margin: 0;
  margin-bottom: 20px;

  font-size: 15px;
  line-height: 24px;
}

.offer__features {
  width: 100%;
  margin-bottom: 28px;

  border-collapse: collapse;
  border-spacing: 0;
  font-size: 15px;
  line-height: 20px;
}

.offer__row {
  height: 39px;

  border-bottom: 1px solid #ececec;
}

.offer__cell {
  vertical-align: middle;
  text-align: left;

  &:first-child {
    width: 38%;
  }
}

.offer__img {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;
}

.offer__img img {
  display: block;
  width: 100%;
  height: auto;
}

.offer__price {
  margin-bottom: 27px;

  font-weight: bold;
  font-size: 17px;
  text-align: center;
}

.offer__btn {
  @include btn;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;

  text-transform: uppercase;
  text-decoration: none;
}

@media #{$tablet} {
  .offer {
    //    max-width: 950px;
    margin-bottom: 52px;
  }

  .offer__header {
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    padding-top: 46px;
  }

  .offer__title {
    margin-bottom: 0;
    margin-left: -3px;

    font-size: 43px;
    line-height: 50px;
  }

  .offer__subtitle {
    width: 70px;
    padding-right: 28px;

    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }

  .offer__content {
    display: flex;
    flex-flow: column wrap;
    height: 412px; // высота правой колонки/картинки (включая margin)
  }

  .offer__about,
  .offer__features,
  .offer__price,
  .offer__btn {
    width: 43.7%;
    margin-right: 44px;
  }

  .offer__cell {
    &:first-child {
      width: 33%;
    }
  }

  .offer__about {
    margin-bottom: 36px;

    font-size: 17px;
    line-height: 30px;
  }

  .offer__price {
    margin-top: auto;
    margin-bottom: 34px;

    font-size: 20px;
  }

  .offer__img {
    order: 1;
    width: 333px;
    height: 404px;
    margin: 0;
    margin-top: 8px;
    margin-left: auto;
  }
}

@media #{$desktop} {
  .offer {
    margin-bottom: 73px;
  }

  .offer__header {
    top: 123px;

    justify-content: flex-start;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 47px;
  }

  .offer__title {
    margin-left: 0;

    font-size: 53px;
    line-height: 57px;
  }

  .offer__subtitle {
    order: -1;
    margin-top: 8px;
    margin-right: 24px;
  }

  .offer__content {
    height: 640px; // высота правой колонки/картинки
  }

  .offer__about,
  .offer__features,
  .offer__price,
  .offer__btn {
    box-sizing: border-box;
    width: 292px;
    margin-right: 58px;
    margin-left: 175px;
  }

  .offer__about {
    margin-top: 162px;
    margin-bottom: 48px;
  }

  .offer__price {
    margin-bottom: 34px;
    padding-left: 7px;
  }

  .offer__btn {
    padding-left: 7px;
  }

  .offer__img {
    width: 525px;
    height: 636px;
    margin-top: 4px;
  }
}
