.promo {
  @include container;
  padding: 0 30px;
  margin-bottom: 58px;
  display: flex;
  flex-flow: column nowrap;

  font-family: $font-stack;
}

.promo__title {
  position: relative;
  padding: 25px 30px 20px;
  padding-left: 90px;
  margin: 0;

  border: 1px solid #ececec;

  color: $font-color-dark;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;

  &::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    left: 33px;
    top: 50%;
    transform: translateY(-50%);

    background-image: url("/img/icon-video.svg");
    background-size: cover;
  }
}

.promo__video {
  position: relative;
  width: 100%;
  padding-top: 57.695%;

  background-image: url("../img/video-mobile@1x.jpg");
  background-size: cover;
  background-color: #62d1ba;
}

.promo__video-control {
  position: absolute;
  width: 102px;
  height: 78px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 0;
  outline: none;
  cursor: pointer;

  background-image: url(/img/icon-play.svg);
  background-size: cover;
  background-color: transparent;
}

.promo__content {
  padding: 30px 34px 33px;
  border: 1px solid #ececec;
}

.promo__about {
  margin: 0;
  margin-bottom: 26px;

  color: $font-color-light;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
}

.promo__btn {
  @include btn;
  margin: 0 auto;
  width: 100%;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  text-transform: uppercase;
}

@media #{$tablet} {
  .promo {
    margin-bottom: 63px;
  }

  .promo__title {
    font-size: 20px;
    padding-left: 107px;

    border-bottom-width: 0px;

    &::before {
      left: 42px;
    }
  }

  .promo__video {
    order: -1;
    padding-top: 0;
    height: 455px;
  }

  .promo__content {
    padding: 11px 40px 46px;
    border-top-width: 0px;
  }

  .promo__about {
    margin-bottom: 37px;

    font-size: 15px;
    line-height: 30px;
  }
}

@media #{$desktop} {
  .promo {
    flex-wrap: wrap;
    height: 455px; // высота левой колонки-видео
    margin-bottom: 105px;
  }

  .promo__video {
    width: 682px;
  }

  .promo__title {
    box-sizing: border-box;
    width: 368px;
    padding-top: 95px;
    padding-left: 80px;
    padding-right: 57px;
    padding-bottom: 32px;

    &::before {
      left: 80px;
      top: 47px;
      transform: translateY(0);
    }
  }

  .promo__content {
    box-sizing: border-box;
    width: 368px;
    padding-top: 0;
    padding-left: 80px;
    padding-right: 57px;
    padding-bottom: 63px;
  }

  .promo__about {
    margin-bottom: 43px;
  }

}
